{% extends 'card.html' %}
{% block title %}
    Reset Password
{% endblock%}
{% block heading %}
    Reset Password
{% endblock%}

{% block card_styles %}
    col-md-6 offset-md-3
{% endblock %}

{% block card_title %}
Reset Password
{% endblock %}

{% block form %}
        <p>Enter your email address and we will send you a link to reset your password.</p>

    <form method="post" novalidate>
        {% csrf_token %}
        {% include 'includes/form.html' %}
        <input type="submit" value="Send password reset email" class="btn-block text-white text-center my-3 btn btn-info btn-lg">

    </form>
{% endblock %}