{% extends 'card.html' %}
{% block title %}
    Password changed!
{% endblock%}

{% block card_styles %}
    col-md-6 offset-md-3
{% endblock %}

{% block card_title %}
Password changed!
{% endblock %}

{% block form %}
    <div class="alert alert-success" role="alert">
        You have successfully changed your password! You may now proceed to log in.
    </div>
        <a href="{% url 'login' %}" class="btn-block text-white text-center my-3 btn btn-info btn-lg">Return to log in
        </a>
{% endblock %}