{% load humanize %}
<div id="{{ post.pk }}" class="card post">
            <div class="card-body row">
                <div class="col-md-2">
                    <div class="row">
                    <span style="font-size: 6rem;">
                 <i class="fas fa-user-alt"></i>
                    </span>
                        <div class="col-sm-12 text-muted " >Posts: {{ post.created_by.posts.count }}</div>
                    </div>
                </div>

                <div class="col-md-10 row">
                    <h4 class="font-weight-bold col-md-8 my-0 py-0">{{ post.created_by.username }}</h4>

                    <span class="text-muted small ml-auto my-0 py-0">{{ post.created_at|naturaltime }}</span>

                    <div class="col-md-12 col-sm-12 my-0 py-0">{{ post.get_message_as_markdown }}</div>

                    {% if request.user == post.created_by %}
                    <a href="{% url 'forum:edit_post' post.pk %}" class="btn btn-primary px-2 mr-2 mt-auto">Edit</a>
                    <form method="POST"  class="form-inline" action="{% url 'forum:delete_post' post.pk %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger px-2 mt-auto" value="Delete">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>