{% extends 'forum.html' %}
{% block title %}
    Topic
{% endblock %}

{% block extra_css %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
{% endblock %}

{% block breadcrumb %}
    <li class="breadcrumb-item active"><a href="{% url 'forum:index' %}">Boards</a></li>
    <li class="breadcrumb-item active"><a href="{% url 'forum:board' topic.board.id %}">{{ topic.board.name }}</a></li>
    <li class="breadcrumb-item active">{{ topic.subject }}</li>
{% endblock %}



{% block content %}
    {% for post in posts %}
        <div id="{{ post.pk }}" class="card {% if post == topic.posts.first%}topic{% else %}post{% endif %}">
            {% if post == topic.posts.first %}
                <div class="card-header text-white bg-dark py-2 px-3 font-weight-bold">{{ topic.subject }}</div>
            {% endif %}
            <div class="card-body row">
                <div class="col-md-2">
                    <div class="row">
                    <span style="font-size: 6rem;">
                 <i class="fas fa-user-alt"></i>
                    </span>
                        <div class="col-sm-12 text-muted " >Posts: {{ topic.created_by.posts.count }}</div>
                    </div>
                </div>

                <div class="col-md-10 row">
                    <h4 class="font-weight-bold col-md-8 my-0 py-0">{{ post.created_by.username }}</h4>

                    <span class="text-muted small ml-auto my-0 py-0">{{ post.created_at }}</span>

                    <div class="col-md-12 col-sm-12 my-0 py-0">{{ post.get_message_as_markdown }}</div>

                    {% if request.user == post.created_by %}
                    <a href="{% url 'forum:edit_post' post.pk %}" class="btn btn-primary px-2 mr-2 mt-auto">Edit</a>
                    <form method="POST"  class="form-inline" action="{% if post == topic.posts.first %}{% url 'forum:delete_topic' topic.pk %}
                                            {% else %}{% url 'forum:delete_post' post.pk %}{% endif %}">
                        {% csrf_token %}
                        <input type="submit" class="btn btn-danger px-2 mt-auto" value="Delete">
                    </form>
                    {% endif %}
{#                    <a href="{% url 'forum:delete_post' post.pk %}" class="btn btn-danger px-2 mt-auto">Delete</a>#}
                </div>
            </div>
        </div>
    {% endfor %}
{% if user.is_authenticated %}
    <div class="card w-100 border-0">
        <div class="card-body">
            <form method="post" novalidate>
                {% csrf_token %}
                <div class="form-group mb-0">
                    <textarea class="form-control" rows="5" placeholder="Your message.." name="message" required></textarea>
                </div>
                <button type="submit" class="btn text-white bg-success">
                    Post a Reply
                </button>
            </form>

        </div>
    </div>
    {% else %}
    <a href="{% url 'login' %}" class="btn btn-success">Reply</a>
{% endif %}
    {% include 'partials/pagination.html' %}
{% endblock %}


{% block extra_js %}
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script>
            var simplemde = new SimpleMDE();
        </script>
    {% endblock %}